<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'calendar' %>
    <%= stylesheet_pack_tag 'calendar' %>

  </head>

  <body>
    <div id="root" style="height: 100%">
      <%= yield %>
    </div>
  </body>
</html>
